.debug {
    border: 1px solid black;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--color-text: #424242;
}




body {
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-light-color);
    color: var(--color-text);
}

.container {
    padding: 5px;
}

.col {
    padding: 10px;
}

.card {
    height: 100%;
}

img {
    display: block;
    width: 100%;
}



/*utility*/
.even-section {
    background-color: var(--color-primary-color);
}

.small-border {
    border-radius: 20px;
}

.big-border {
    border-radius: 20px;
}

.circle {
    border-radius: 50%;
}

.bg-card {
    background-color: var(--color-bg-card);
}

.bg-card-light {
    background-color: var(--color-light-color);
}

.bg-primary {
    background-color: var(--color-primary-color);
}

/*bottoni*/
.btn {
    padding: 6px 10px;
    text-decoration: none;
    display:inline-block;
    color: var(--color-light-color);
    background-color: var(--color-primary-color);
    border-radius: 10px;
}

.btn-card {
    background-color: var(--color-secondary-color);
}

.btn-start {
    background-color: var(--color-light-color);
    color: var(--color-primary-color);
}

/*padding*/ 
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*testo*/
.text-primary {
    color: var(--color-primary-color);
}

.text-secondary {
    color: var(--color-secondary-color);
}

.text-light {
    color: var(--color-light-color);
}

.text-grey {
    color: var(--color-text);
}

.text-card {
    color: var(--color-bg-card);
}

.text-orange {
    color: var(--color-contrast-color);
}

.text-center {
    text-align: center;
}

.line-height {
    line-height: 1.5;
}

h3 {
    font-size: 1.5em;
}

h2 {
    font-size: 2.5em;
}
/*header*/
header {
    background-color: var(--color-secondary-color);
    color: var(--color-light-color);
}

#logo {
    width: 70px;
}

.nav-flex {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

nav ul {
    display: none;
}

/*main*/
.card-image {
    position: relative;
    top: 10px;
}

.icon {
    font-size: 3em;
    color: var(--color-secondary-color);
}

/*ABOUT*/
.img-about {
    width: 50%;
}

.get-icon {
    font-size: 0.5em;
}


/*footer*/
footer {
    background-color: var(--color-dark-color);
    color: var(--color-light-color);
}



/*media*/

@media screen and (min-width: 576px) {
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-stretch {
    align-items: stretch;
    align-content: stretch;
}

#intro .col {
    width: calc(100% / 3);
}

#intro .col:first-child {
    width: calc((100% / 3) * 2);
}

#benefits .col {
    width: calc(100% / 2);
}

#about-us .col {
    width: calc(100% / 2);
}

}

@media screen and (min-width: 992px) {
    nav ul {
        display: flex;
    }

    nav .fa-solid.fa-bars {
        display: none;
    }




}


@media screen and (min-width: 1200px) {
    .container {
        max-width:1100px;
        margin: 0 auto;
    }

    #intro .col:first-child .card {
        display: flex;
    }

    #planning .col{
        width: calc(100% / 2);
    }

    #planning .card {
        width: 70%;
        height: 70%
      
        
    } 

    #benefits .col {
        width: calc(100% / 3);
    }

    

   
}



